$white: #ffffff;
$black: #000000;

$primary: #2bd9c7;
$primary_light: #ecfffd;

$secondary: #ff660a;
$orange_800: #ffb400;

$grey_100: #f8f8f8;
$grey_200: #f5f5f5;
$grey_250: #dbe2ed;
$grey_300: #919191;
$grey_400: #616161;
$grey_500: #484646;
$grey_600: #5a585b;
$grey_700: #404040;
$grey_800: #020202;

$blue_200: #e8f4fe;
$blue_300: #2196f3;
$blue_800: #002639;

$red: #b3261e;

$green: #4caf50;
